*{
box-sizing:border-box;
}


body{

margin:0;

overflow:hidden;

background:#000;

font-family:
Segoe UI,
sans-serif;

color:white;

}



.space{

width:100vw;

height:100vh;

position:relative;

overflow:hidden;


background:

radial-gradient(
circle at center,
#17275a,
#02030b 70%
);


}




/* ستاره ها */

.stars{

position:absolute;

inset:0;

}


.star{

position:absolute;

background:white;

border-radius:50%;

animation:

twinkle 3s infinite alternate;

}



@keyframes twinkle{


from{

opacity:.2;

}


to{

opacity:1;

}

}





/* کهکشان پشت */

.galaxy{


position:absolute;


width:650px;

height:650px;


left:50%;

top:50%;


transform:

translate(-50%,-50%);


border-radius:50%;


background:

conic-gradient(

transparent,

rgba(0,200,255,.5),

transparent,

rgba(140,80,255,.5),

transparent

);


filter:

blur(35px);


opacity:.4;


animation:

rotate 40s linear infinite;


}



@keyframes rotate{


to{

transform:

translate(-50%,-50%)
rotate(360deg);

}

}





/* متن شروع */

.intro{


position:absolute;


top:18%;


width:100%;


text-align:center;


z-index:5;


}



.intro h1{


font-size:45px;

font-weight:300;


}



.intro p{

opacity:.7;

}





/* سیاره */


.planet{


position:absolute;


left:50%;

top:55%;


transform:

translate(-50%,-50%);



width:190px;

height:190px;



border-radius:50%;


cursor:pointer;



background:


radial-gradient(

circle at 30% 30%,

#dff,

#3474d4 40%,

#05052a 80%

);



box-shadow:


0 0 50px cyan,

0 0 130px blue;


transition:4s;


}




.ring{


position:absolute;


width:310px;

height:80px;


border:

4px solid rgba(255,255,255,.5);


border-radius:50%;


left:-60px;

top:55px;


transform:

rotate(-20deg);


}






/* حالت سفر */


.space.travel .planet{


opacity:0;


transform:

translate(-50%,-50%)
scale(.1);


}




.space.travel .intro{


opacity:0;


transition:2s;

}





#mission{


position:absolute;


bottom:15%;


width:100%;


text-align:center;


font-size:25px;


opacity:0;


transition:2s;


}



.space.travel #mission{

opacity:1;

}






/* ستاره های مخفی */

.hidden-star{


position:absolute;


width:18px;

height:18px;


background:white;


border-radius:50%;


cursor:pointer;


box-shadow:

0 0 30px cyan;


animation:

pulse 1.5s infinite alternate;


}



@keyframes pulse{

from{

scale:.7;

}

to{

scale:1.4;

}

}





/* پایان */


.final{


position:absolute;


left:50%;


top:50%;



transform:

translate(-50%,-50%)
scale(.2);



opacity:0;



text-align:center;


transition:4s;


z-index:20;


}



.final.show{


opacity:1;


transform:

translate(-50%,-50%)
scale(1);


}





.final h2{


font-size:65px;


text-shadow:


0 0 30px cyan,

0 0 70px white;


}



.final h3{


font-size:100px;

margin:0;


text-shadow:

0 0 40px white;


}





@media(max-width:600px){


.intro h1{

font-size:25px;

}


.planet{

width:120px;

height:120px;

}


.final h2{

font-size:35px;

}


.final h3{

font-size:55px;

}

}
