*{
box-sizing:border-box;
}


body{

margin:0;

overflow:hidden;

background:black;

font-family:
Segoe UI,
sans-serif;

color:white;

}



.space{

width:100vw;

height:100vh;

position:relative;

background:

radial-gradient(
circle,
#16204d,
#000 70%
);

overflow:hidden;

}





.stars{

position:absolute;

inset:0;

}





.star{

position:absolute;

background:white;

border-radius:50%;

animation:
twinkle 3s infinite alternate;

}



@keyframes twinkle{

from{
opacity:.2;
}

to{
opacity:1;
}

}




.intro{

position:absolute;

top:18%;

width:100%;

text-align:center;

z-index:5;

transition:2s;

}



.intro h1{

font-size:45px;

font-weight:300;

}





.planet{

position:absolute;

left:50%;

top:55%;


transform:
translate(-50%,-50%);


width:170px;

height:170px;


border-radius:50%;


background:

radial-gradient(
circle at 30% 30%,
#9ff,
#3150bd 45%,
#05052a
);



box-shadow:

0 0 40px cyan,
0 0 120px blue;


cursor:pointer;


transition:4s;

}





.ring{

position:absolute;

width:280px;

height:70px;


border:

3px solid rgba(255,255,255,.5);


border-radius:50%;


left:-55px;

top:50px;


transform:
rotate(-20deg);

}




.galaxy{


position:absolute;


left:50%;

top:50%;


width:700px;

height:700px;


border-radius:50%;


background:

conic-gradient(
transparent,
#7c4dff,
transparent,
#00eaff,
transparent
);


filter:
blur(25px);


transform:

translate(-50%,-50%)
scale(0);


transition:

5s;

}



.space.travel .galaxy{

transform:

translate(-50%,-50%)
scale(1);

}





.space.travel .planet{

opacity:0;

transform:

translate(-50%,-50%)
scale(.1);

}




.space.travel .intro{

opacity:0;

}





#mission{


position:absolute;


top:80%;

width:100%;


text-align:center;


font-size:25px;


opacity:0;


transition:2s;


}




.space.play #mission{

opacity:1;

}





.final{


position:absolute;


left:50%;

top:50%;


transform:

translate(-50%,-50%)
scale(.2);


opacity:0;


text-align:center;


transition:4s;


z-index:20;

}




.final.show{


opacity:1;


transform:

translate(-50%,-50%)
scale(1);


}





.final h2{


font-size:75px;


text-shadow:

0 0 30px cyan,
0 0 70px white;


}





.shooting{


position:absolute;

width:100px;

height:2px;

background:white;

animation:

shoot 1s linear;


}


@keyframes shoot{


from{

transform:translateX(0);

opacity:1;

}


to{

transform:translateX(500px);

opacity:0;

}

}





@media(max-width:600px){

.intro h1{

font-size:25px;

}


.final h2{

font-size:35px;

}

}
